body {
  padding: 0;
  background-color: #F5F5DC;
  font-family: Arial, sans-serif;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
}

nav img {
  height: 40px;
}

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

#contexte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

#contexte .description {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.5;
}

#contexte img {
  width: 300px;
  max-width: 100%;
  height: auto;
}

#persona {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #d0e8ff;
}

#persona img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

#persona div {
  max-width: 600px;
  padding-left: 30px;
}

#persona h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section:not(#contexte):not(#persona) {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
}

section:not(#contexte):not(#persona) div {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: #000;
}

section:not(#contexte):not(#persona) div:nth-child(1) {
  background-color: #fff9c4; 
}

section:not(#contexte):not(#persona) div:nth-child(2) {
  background-color: #ffe0b2; 
}

section:not(#contexte):not(#persona) div:nth-child(3) {
  background-color: #e1bee7; 
}

section:not(#contexte):not(#persona) h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

section:not(#contexte):not(#persona) p {
  font-size: 14px;
  line-height: 1.5;
}


footer {
  background-color: #e8faeb;
  text-align: center;
  padding: 30px 20px;
  font-family: "IBM Plex Serif", serif;
}

.newsletter {
  background-color: #cbf0dd;
  padding: 25px 15px;
}

.newsletter label {
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.newsletter-input {
  background-color: #fef7e0;
  border-radius: 25px;
  padding: 5px 10px;
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-input input {
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  font-family: "IBM Plex Serif", serif;
}

.header h1 {
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
}

.images {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.images img {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 6px;
}
  